# Playing with Constraints

You can connect to the aws database using the following psql command, and type `w4111student` for the password:

    psql -h w4111.cisxo09blonu.us-east-1.rds.amazonaws.com -U student w4111

In [ ]:
from sqlalchemy import create_engine
db = create_engine("postgresql://student:w4111student@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/w4111")

In [ ]:
# Remove all tables
s = """select 'drop table if exists "' || tablename || '" cascade;' from pg_tables;"""
qs = [q[0] for q in db.execute(s).fetchall()]
print(len(qs))
for line in qs:
    try:
        db.execute(line)
        print(line)
    except:
        print("FAIL", line)

In [ ]:
%load_ext sql
%config SqlMagic.autocommit=False
%sql postgresql://student:w4111student@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/w4111

## Domain constraints

In [ ]:
%%sql 
DROP TABLE IF EXISTS A CASCADE;
CREATE TABLE A (
    a int,
    b text,
    c float
);

In [ ]:
%%sql
INSERT INTO A(a, b) VALUES (90, '"40"');

In [ ]:
%%sql
SELECT * FROM A

Primary Keys

In [ ]:
%%sql
DROP TABLE IF EXISTS A, B CASCADE;

create table a (
    a int,
    primary key (a)
);
create table b ( 
    b int, 
    a int, 
    foreign key (a) references A(a) ON DELETE NO ACTION
);

In [ ]:
%%sql
INSERT INTO a values(1);
INSERT INTO b VALUES (10, 1), (11, 1);

In [ ]:
%%sql
DELETE FROM a WHERE a = 1;

In [ ]:
%%sql
SELECT * FROM b;

## References

Let's start with simple references:

    A <--- B

In [ ]:
%%sql 
DROP TABLE IF EXISTS A, B;
CREATE TABLE A(a int primary key);
CREATE TABLE B(b int primary key, a int references A(a));

### Circular foreign key relationships


    A ---> B
      <---

**Unfortunately, Jupytr cell magic issues don't let this run.  You need to use psql to run this example**

In [ ]:
%%sql
BEGIN;
DROP TABLE IF EXISTS A, B;
CREATE TABLE A(a int primary key);
CREATE TABLE B(b int primary key, a int references A(a));
ALTER TABLE A ADD COLUMN b int references B(b);
COMMIT;

In [ ]:
# this doesn't work.  need to disable b's triggers using superuser, or insert A(a), insert B(b,a), then update A.b
db.execute("""
  BEGIN;
  SET CONSTRAINTS ALL DEFERRED;
  INSERT INTO A(a,b) VALUES (1,1);
  INSERT INTO B(b,a) VALUES (1,1);
  COMMIT;
""")

# ER to SQL examples

## At-most-one   Single Arrow

    A <- <R> -- B

In [ ]:
%%sql
DROP TABLE IF EXISTS A, B, R CASCADE;

CREATE TABLE A(a int primary key);
CREATE TABLE B(b int primary key);
CREATE TABLE R(
    a int NOT NULL,
    b int,
    FOREIGN KEY (a) REFERENCES A(a),
    FOREIGN KEY (b) REFERENCES B(b),
    PRIMARY KEY(b)
)

In [ ]:
%%sql
INSERT INTO A VALUES(1), (2), (3);
INSERT INTO B VALUES(10), (11), (12);

In [ ]:
%%sql
INSERT INTO R(a, b) VALUES(1, 11);

In [ ]:
%%sql
SELECT * FROM R

In [ ]:
%%sql
-- same as above
DROP TABLE IF EXISTS  A, B, R, B_R CASCADE;

CREATE TABLE A(a int PRIMARY KEY);
CREATE TABLE B_R(
    b int PRIMARY KEY,
    a int,
    FOREIGN KEY (a) REFERENCES A(a)
);

In [ ]:
%%sql
INSERT INTO B_R(b) VALUES (10);

In [ ]:
%%sql
INSERT INTO A VALUES(1), (2);

In [ ]:
%%sql
SELECT * FROM B_R;

In [ ]:
%%sql
UPDATE B_R SET a = 1 WHERE b = 10;

## At-most-one  Both Directions

    A <--  <R>  --> B

In [ ]:
%%sql
DROP TABLE IF EXISTS A, B, R, B_R CASCADE;

-- three table translation
CREATE TABLE A(a int PRIMARY KEY);
CREATE TABLE B(b int PRIMARY KEY);
CREATE TABLE R(
    a int UNIQUE NOT NULL REFERENCES A(a),
    b int UNIQUE NOT NULL REFERENCES B(b),
    PRIMARY KEY (a, b)
)

In [ ]:
%%sql
INSERT INTO A(a) VALUES (1),(2);
INSERT INTO B(b) VALUES (10),(11);
INSERT INTO R(a, b) VALUES (1, 11);

In [ ]:
%%sql
INSERT INTO R(a,b) VALUES(1,10);

In [ ]:
%%sql 
-- clear the table
DELETE FROM R;
DELETE FROM A CASCADE;
DELETE FROM B CASCADE;

In [ ]:
%%sql
DROP TABLE IF EXISTS A_R_B CASCADE;

CREATE TABLE A_R_B(
    a int UNIQUE,
    -- all of a's attributes here
    b int UNIQUE,
    -- all of b's attributes here
    CHECK (a IS NOT NULL or b IS NOT NULL)
)

In [ ]:
%%sql
INSERT INTO A_R_B(a) VALUES (1), (2), (3);
INSERT INTO A_R_B(b) VALUES (10), (11), (12);

In [ ]:
%%sql
SELECT * FROM A_R_B;

In [ ]:
%%sql
BEGIN;
SET CONSTRAINTS ALL DEFERRED;
DELETE FROM A_R_B WHERE b = 10 or a = 1;
INSERT INTO A_R_B(a,b) VALUES (1, 10);
COMMIT;

## Participation

Each B record should have _at least_ one relationship with A.

    A -- <R> == B

In [ ]:
%%sql 
-- Bad approach 1
-- Doesnt enforce anything
-- A -- R -- B
DROP TABLE IF EXISTS A, B, R CASCADE;

CREATE TABLE A(a int PRIMARY KEY);
CREATE TABLE B(b int PRIMARY KEY);
CREATE TABLE R(a int UNIQUE NOT NULL, b int UNIQUE NOT NULL, primary key (a, b));

In [ ]:
%%sql
INSERT INTO A VALUES (1),(2);
INSERT INTO B VALUES (10),(11);

In [ ]:
%%sql
-- Bad Approach 2
-- B.b can be replicated.  Its like a weak entity in that Bs key is (a,b)
-- but without the at most one constraint
--  A -- <<R>> == [[B]]
DROP TABLE IF EXISTS A, B_R CASCADE;

CREATE TABLE A(a int PRIMARY KEY);
CREATE TABLE B_R(
    b int NOT NULL,
    a int NOT NULL,
    PRIMARY KEY (b, a),  
    FOREIGN KEY (a) REFERENCES A(a) ON DELETE NO ACTION
)

INSERT INTO A VALUES(1), (2);

In [ ]:
%%sql
INSERT INTO B_R(b) VALUES (10);

In [ ]:
%%sql
INSERT INTO B_R VALUES (10, 1);
INSERT INTO B_R VALUES (10, 2);

### At most + At Least One

    A <-- <R> == B

In [ ]:
%%sql
DROP TABLE IF EXISTS A, B_R;

### Specialization Relationships

* Users(uid, name)
* Students(grades) specializes Users
* Staff(ratings) specializes Users

Questions

* what if Employs table wants to reference Users?
* what if Employs table wants to reference Students and Staff?

Constraints

* Total: can you just be a user, or must every user be an instructor or student?
* Overlaps: can eugene be an instructor and a student?

In [ ]:
%%sql
drop table if exists users, staff, student;
CREATE TABLE users(
    uid int primary key,
    name text
    -- CHECK ((SELECT COUNT(*) FROM staff WHERE staff.uid = uid) > 0)
);
CREATE TABLE staff(
    uid int REFERENCES users(uid), -- short hand for: FOREIGN KEY (uid) REFERENCES users(uid)
    rating int
);
CREATE TABLE student(
    uid int REFERENCES users(uid),
    grade int
)
-- total: cant enforce
-- overlaps: can allow

In [ ]:
%%sql 
DROP TABLE IF EXISTS staff, student CASCADE;
CREATE TABLE staff(
    uid int primary key,
    name text,
    rating int
);
CREATE TABLE student(
    uid int primary key,
    name text,
    grade int
);
-- total: yes
-- overlaps: no

In [ ]:
%%sql
INSERT INTO staff VALUES(1, 'eugene', 100);
INSERT INTO staff VALUES(2, 'billy', 5);
INSERT INTO student VALUES (1, 'billy', 5);
INSERT INTO student VALUES (2, 'eugene', 5);

In [ ]:
%%sql
-- this is a hack that uses a single table to enforce total and overlaps constraints
-- using a CHECK constraint
DROP TABLE IF EXISTS users;

CREATE TABLE users(
    uid int PRIMARY KEY,
    name text,
    rating int, -- staff attribute
    grade int,   -- student attribute
    check(
        rating is not null or grade is not null
    )
)