In [ ]:
%load_ext sql
%config SqlMagic.autocommit=False
%sql postgresql://localhost/w4111
# The following connects to the class database, but it does not support Python UDFs
# %sql postgresql://student:w4111student@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/w4111

In [ ]:
%%sql
DROP TABLE IF EXISTS sailors cascade;

CREATE TABLE sailors(
    sid serial primary key,
    name text,
    rating int,
    age int    
);

INSERT INTO sailors VALUES 
(1, 'Eugene', 7, 22),
(2, 'Luis', 2, 39),
(3, 'Ken', 8, 27);

DROP TABLE IF EXISTS youngsailors cascade;
CREATE TABLE youngsailors(
    sid serial primary key,
    name text,
    rating int,
    age int    
);


DROP TABLE IF EXISTS log;
CREATE TABLE log(
  sid int NOT NULL REFERENCES Sailors,
  t timestamp NOT NULL,
  oldAge int NOT NULL,
  newAge int NOT NULL
);


drop table if exists blah;
create table blah(qty int);

# UDFs

In [ ]:
%%sql
CREATE EXTENSION IF NOT EXISTS plpgsql;
CREATE EXTENSION IF NOT EXISTS plpythonu;

In [ ]:
## SQL UDFs

In [ ]:
%%sql
DROP FUNCTION IF EXISTS mult1(v int);
CREATE FUNCTION mult1(v int) RETURNS int AS $$
SELECT v * 10;
$$ LANGUAGE SQL;

DROP FUNCTION IF EXISTS mult1(s sailors);


DROP FUNCTION IF EXISTS ambi(sailors sailors);
CREATE FUNCTION ambi(s sailors) RETURNS sailors AS $$
SELECT * FROM sailors ORDER BY sid DESC
$$ LANGUAGE SQL;

In [ ]:
%%sql
SELECT ambi(sailors.*) FROM sailors;

In [ ]:
%%sql
SELECT s.sid + s.rating::float, s.age::float, (s.sid + s.rating::float) / s.age::float, (s.sid + s.rating) / s.age FROM sailors s;

In [ ]:
%%sql
SELECT * FROM sailors;

## PL/SQL

In [ ]:
%%sql
DROP TABLE IF EXISTS blah;
CREATE TABLE blah (qty int);

DROP FUNCTION IF EXISTS plpsqlf(v int);
CREATE FUNCTION plpsqlf(v int) RETURNS int AS $$
DECLARE
  qty int = 10;
BEGIN
  qty = qty + v;
  INSERT INTO blah VALUES(qty);
  INSERT INTO blah SELECT * FROM blah;
  RETURN qty;
END;
$$ LANGUAGE plpgsql;

In [ ]:
%%sql
SELECT plpsqlf(age) FROM sailors;

In [ ]:
%%sql
SELECT * FROM blah;

## Python UDFs

In [ ]:
%%sql
DROP FUNCTION IF EXISTS pyudf1(v int);
CREATE FUNCTION pyudf1(v int) RETURNS int AS $$
 
    import random
    return random.randint(0, 100) * v;
    
$$ LANGUAGE plpython2u;

In [ ]:
%%sql
SELECT pyudf1(age) FROM sailors;

In [ ]:
%%sql
DROP FUNCTION IF EXISTS searchit(word text);
CREATE FUNCTION searchit(word text) RETURNS text AS $$
import requests
r = requests.get("https://en.m.wikipedia.org/w/index.php?title=Special:Search&search=%s" % word)
return r.content.decode('unicode-escape')
$$ LANGUAGE plpython2u;

In [ ]:
%%sql
DROP TABLE IF EXISTS unis;
CREATE TABLE unis (name text);
INSERT INTO unis VALUES ('columbia university'), ('uc berkeley'), ('university of wisconsin madison'), ('nyu');

In [ ]:
rows = %sql SELECT searchit(name) FROM unis;

In [ ]:
from IPython.display import HTML
import pandas as pd
pd.set_option('max_colwidth', 0)

In [ ]:
display(HTML(rows[0][0]))

# Triggers

In [ ]:
%%sql
DROP TABLE IF EXISTS a, b cascade;
CREATE TABLE a(a int);
CREATE TABLE b(b int);

In [ ]:
%%sql

DROP FUNCTION IF EXISTS rejectit() CASCADE;
CREATE FUNCTION rejectit() RETURNS trigger as $$
BEGIN
    RETURN null;
END;
$$ LANGUAGE plpgsql;

DROP FUNCTION IF EXISTS copyit() CASCADE;
CREATE FUNCTION copyit() RETURNS trigger as $$
BEGIN
    INSERT INTO b SELECT * FROM a;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP FUNCTION IF EXISTS bad() CASCADE;
CREATE FUNCTION bad() RETURNS trigger as $$
BEGIN
    IF (SELECT COUNT(*) FROM a) < 10 THEN
        INSERT INTO a VALUES (NEW.*);
    END IF;
    RETURN null;
END;
$$ LANGUAGE plpgsql;

--DROP TRIGGER IF EXISTS t_rejectit ON a;
--CREATE TRIGGER t_rejectit BEFORE INSERT ON a
--FOR EACH ROW
--  EXECUTE PROCEDURE rejectit();
    

DROP TRIGGER IF EXISTS t_copyit ON a;
CREATE TRIGGER t_copyit AFTER INSERT ON a
FOR EACH ROW
  EXECUTE PROCEDURE copyit();    

DROP TRIGGER IF EXISTS t_bad ON a;
--CREATE TRIGGER t_bad BEFORE INSERT ON a
--FOR EACH ROW
--  EXECUTE PROCEDURE bad();    


DELETE FROM a;
DELETe FROM b;

In [ ]:
%%sql
INSERT INTO a VALUES (10);
INSERT INTO a VALUES (20);
INSERT INTO a VALUES (30);

In [ ]:
%%sql
SELECT * FROM b;

## Recursive Queries

In [ ]:
%%sql
WITH RECURSIVE num(n) AS (
    VALUES (1), (1)
    UNION 
    SELECT n+1 FROM num WHERE n < 5
)
SELECT * FROM num;